<h1>Participating Shelters</h1>



<% @shelters.each do |shelter| %>
<h3>--<%= shelter.name %></h3>
<%end%>

<h2>Shelter's with Pending Applications</h2>
<section id='shelters-with-apps'>
<% @shelters_with_apps.each do |shelter| %>
<h4><%= shelter.name %> </h4>
<% end %>
</section>
